<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>

<div class="container">
    <div class="card mx-5 my-3">
        <div class="card-header ">
         
            Criar Usuário
        </div>
        <div class="card-body">
            
            <form action="/admin/user/save" method="post">
                <label for="">Esquadrão</label>
                <select class="form-select" name="esquad" id="esquad">
                    <option value="">Selecione um Esquadrão</option>
                    <% esquads.forEach(esquad => { %>   
                    <option value="<%= esquad.id %>"><%= esquad.nome %></option>
                    <% }); %>
                </select><br>
                    
                <label for="">Pelotão</label><br>
                <select class="form-select" name="platoon" id="platoon">
                    <option value="">Nenhum esquadrão selecionado</option>
                </select><br>

                <label>Login</label><br>
                <input class="form-control" type="text" name="login"><br>
                <label>Password</label><br>
                <input class="form-control" type="password" name="password"><br>
                <label>Nome de guerra</label><br>
                <input class="form-control" type="text" name="name"><br>
                <label>Graduação</label><br>
                <select class="form-select" name="pg">
                    <option value="Sd">Soldado</option>
                    <option value="Al">Aluno</option>
                    <option value="Cb">Cabo</option>
                    <option value="3º Sgt">3º Sargento</option>
                    <option value="2º Sgt">2º Sargento</option>
                    <option value="1º Sgt">1º Sargento</option>
                    <option value="St">Sub-tenente</option>
                    <option value="Asp">Aspirante</option>
                    <option value="2º Ten">2º Tenente</option>
                    <option value="1º Ten">1º Tenente</option>
                    <option value="Cap">Capitão</option>
                    <option value="Maj">Major</option>
                    <option value="Ten Cel">Tenente Coronel</option>
                    <option value="Cel">Coronel</option>
                    <option value="Gen">General</option>
                </select><br>
                <label>Perfil</label><br>
                <select class="form-select" name="perfil">
                    <option value="4">Usuário</option>
                    <option value="3">Furriel</option>
                    <option value="2">Aprovisionamento</option>
                    <option value="1">Administrador</option>
                </select><br><br>
                <button class="btn btn-success">Criar</button>
            </form>
        </div>
      </div>
</div>



<%- include('../partials/footer.ejs') %>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    var elementoEsquad = document.getElementById("esquad");
    var elementoPlatoon = document.getElementById("platoon");
    var option = document.createElement("option")

    elementoEsquad.onchange = () => {

        axios.get('/get_data?type=load_platoon&parent_value='+elementoEsquad.value)
        .then(response => {
            var html = '';
            response.data.forEach(element => {
                html += '<option value="'+element.id+'">'+element.nome+'</option>'
            });
            if(html == ''){html = '<option>Nenhum pelotão cadastrado</option>'};
            elementoPlatoon.innerHTML = html;
        });
    }

</script>
